
@{
    ViewData["Title"] = "Checkout";
}

<partial name="_Breadcrumb" />
<!-- cart_section - start
        ================================================== -->
<section class="cart_section sec_ptb_120 bg_default_gray">
    <div class="container container_boxed">
        <div class="checkout_form">
            <h2 class="form_title text-uppercase wow fadeInUp" data-wow-delay=".1s">Select payment Method</h2>
            <form action="#">
                <ul class="checkout_steps_nav ul_li wow fadeInUp" data-wow-delay=".2s">
                    <li class="active"><a href="checkout.html">Derect Bank Transfer</a></li>
                    <li><a href="checkout_step2.html">Check Payments</a></li>
                    <li><a href="checkout_step3.html">Cash on Delivery</a></li>
                </ul>

                <h3 class="form_title text-uppercase wow fadeInUp">personal Info !</h3>
                <div class="row wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-lg-4">
                        <div class="form_item">
                            <h4 class="form_field_title">First Name<sup>*</sup></h4>
                            <input type="text" name="firstname" placeholder="First Name">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form_item">
                            <h4 class="form_field_title">Last Name<sup>*</sup></h4>
                            <input type="text" name="lastname" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form_item">
                            <h4 class="form_field_title">Number<sup>*</sup></h4>
                            <input type="tel" name="telephone" placeholder="Number">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form_item">
                            <h4 class="form_field_title">Own Adress<sup>*</sup></h4>
                            <input type="text" name="adress" placeholder="Own Adress">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form_item">
                            <h4 class="form_field_title">Mail Address<sup>*</sup></h4>
                            <input type="email" name="email" placeholder="Mail Address">
                        </div>
                    </div>
                </div>

                <div class="form_item wow fadeInUp" data-wow-delay=".4s">
                    <h4 class="form_field_title">Additional Information*<sup>*</sup></h4>
                    <textarea name="message" placeholder="Note about your order, Special note for delevery !"></textarea>
                </div>
            </form>
            <div class="checkout_form_footer wow fadeInUp" data-wow-delay=".5s">
                <span class="total_price"><strong>Total</strong> $255</span>
                <a class="btn btn_primary text-uppercase" href="checkout_step2.html">Place Order</a>
            </div>
        </div>
    </div>
</section>
<!-- cart_section - end
