
@{
    ViewData["Title"] = "Faq";
}

<partial name="_Breadcrumb" />
<!-- faq_section - start
        ================================================== -->
<section class="faq_section sec_ptb_120 bg_default_gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="faq_accordion" id="faq_accordion">
                    <div class="accordion-item wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="accordion-header" id="faq_heading1">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#faq_collapse1" aria-expanded="true" aria-controls="faq_collapse1">
                                Rorem ipsum dolor sit amet, consectetur adipisicing elitey ameney?
                            </button>
                        </h3>
                        <div id="faq_collapse1" class="collapse show" aria-labelledby="faq_heading1" data-bs-parent="#faq_accordion">
                            <div class="accordion-body pt-0">
                                <p class="mb-0">
                                    Rorem ipsum dolor  sit amet, con sectetur adipisi cing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatye
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="accordion-header" id="faq_heading2">
                            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_collapse2" aria-expanded="false" aria-controls="faq_collapse2">
                                Rorem ipsum dolor sit amet, consectetur adipisicing elitey ameney?
                            </button>
                        </h3>
                        <div id="faq_collapse2" class="collapse" aria-labelledby="faq_heading2" data-bs-parent="#faq_accordion">
                            <div class="accordion-body pt-0">
                                <p class="mb-0">
                                    Rorem ipsum dolor  sit amet, con sectetur adipisi cing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatye
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="accordion-header" id="faq_heading3">
                            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_collapse3" aria-expanded="false" aria-controls="faq_collapse3">
                                Rorem ipsum dolor sit amet, consectetur adipisicing elitey ameney?
                            </button>
                        </h3>
                        <div id="faq_collapse3" class="collapse" aria-labelledby="faq_heading3" data-bs-parent="#faq_accordion">
                            <div class="accordion-body pt-0">
                                <p class="mb-0">
                                    Rorem ipsum dolor  sit amet, con sectetur adipisi cing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatye
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="accordion-header" id="faq_heading4">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#faq_collapse4" aria-expanded="true" aria-controls="faq_collapse4">
                                Rorem ipsum dolor sit amet, consectetur adipisicing elitey ameney?
                            </button>
                        </h3>
                        <div id="faq_collapse4" class="collapse" aria-labelledby="faq_heading4" data-bs-parent="#faq_accordion">
                            <div class="accordion-body pt-0">
                                <p class="mb-0">
                                    Rorem ipsum dolor  sit amet, con sectetur adipisi cing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatye
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="accordion-header" id="faq_heading5">
                            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_collapse5" aria-expanded="false" aria-controls="faq_collapse5">
                                Rorem ipsum dolor sit amet, consectetur adipisicing elitey ameney?
                            </button>
                        </h3>
                        <div id="faq_collapse5" class="collapse" aria-labelledby="faq_heading5" data-bs-parent="#faq_accordion">
                            <div class="accordion-body pt-0">
                                <p class="mb-0">
                                    Rorem ipsum dolor  sit amet, con sectetur adipisi cing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatye
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="accordion-header" id="faq_heading6">
                            <button class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq_collapse6" aria-expanded="false" aria-controls="faq_collapse6">
                                Rorem ipsum dolor sit amet, consectetur adipisicing elitey ameney?
                            </button>
                        </h3>
                        <div id="faq_collapse6" class="collapse" aria-labelledby="faq_heading6" data-bs-parent="#faq_accordion">
                            <div class="accordion-body pt-0">
                                <p class="mb-0">
                                    Rorem ipsum dolor  sit amet, con sectetur adipisi cing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatye
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="accordion-header" id="faq_heading7">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#faq_collapse7" aria-expanded="true" aria-controls="faq_collapse7">
                                Rorem ipsum dolor sit amet, consectetur adipisicing elitey ameney?
                            </button>
                        </h3>
                        <div id="faq_collapse7" class="collapse" aria-labelledby="faq_heading7" data-bs-parent="#faq_accordion">
                            <div class="accordion-body pt-0">
                                <p class="mb-0">
                                    Rorem ipsum dolor  sit amet, con sectetur adipisi cing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatye
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq_section - end
================================================== -->
