
@{
    ViewData["Title"] = "ReserveForm";
}

<partial name="_Breadcrumb" />
<!-- reserve_table_section - start
        ================================================== -->
<section class="reserve_table_section sec_ptb_120">
    <div class="container">
        <div class="reserve_table_form wow fadeInUp" data-wow-delay=".1s">
            <h2 class="form_title text-center text-uppercase">reserve your table</h2>
            <form action="#">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="form_item">
                            <input type="text" name="name" placeholder="Enter your name">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form_item">
                            <input type="tel" name="telephone" placeholder="Enter your number">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form_item">
                            <input type="text" name="state" placeholder="State number">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form_item">
                            <input type="date" name="reserve-date">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form_item">
                            <input type="time" name="time">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form_item">
                            <input type="email" name="email" placeholder="Enter your email">
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn_primary text-uppercase">Submit your request</button>
                    </div>
                </div>
            </form>
            <div class="decoration_icon">
                <img src="/images/feature/icon_01.png" alt="icon_not_found">
                <span class="bg_shape"></span>
            </div>
        </div>
        <div class="reserve_banner_image wow fadeInUp" data-wow-delay=".3s">
            <img src="/images/reserve/img_01.jpg" alt="image_not_found">
        </div>
    </div>
</section>
<!-- reserve_table_section - end
================================================== -->
