@model IEnumerable<RecipeViewModel>
<div class="recipe_item_grid grid wow fadeInUp" data-wow-delay=".4s">
    <div class="element-item " data-category="chocolate">
        @foreach (var recipe in Model)
        {
            <div class="recipe_item">
                <div class="content_col">
                    
                        <img src="/uploads/@recipe.Image" alt="image_not_found">
                    
                    <div class="item_content">
                        <h3 class="item_title text-uppercase">
                            <a href="shop_details.html">@recipe.Title</a>
                        </h3>
                        <p class="mb-0">
                            @recipe.Text
                        </p>
                    </div>
                </div>
                <div class="content_col">
                    <strong class="item_price">
                        <sub>$</sub>@recipe.Price
                    </strong>
                </div>
            </div>
        }
    </div>

    
</div>