<!-- breadcrumb_section - start
            ================================================== -->
<section class="breadcrumb_section text-uppercase" style="background-image: url(/images/breadcrumb/breadcrumb_bg_01.jpg);">
    <div class="container">
        <h1 class="page_title text-white wow fadeInUp" data-wow-delay=".1s">Online Shop</h1>
        <ul class="breadcrumb_nav ul_li wow fadeInUp" data-wow-delay=".2s">
            <li><a href="index_1.html"><i class="fas fa-home"></i> Home</a></li>
            <li>Our Shop</li>
        </ul>
    </div>
    <div class="breadcrumb_icon_wrap">
        <div class="container">
            <div class="breadcrumb_icon wow fadeInUp" data-wow-delay=".3s">
                <img src="/images/feature/icon_01.png" alt="icon_not_found">
                <span class="bg_shape"></span>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb_section - end -->