<!-- feature_primary_section - start
    ================================================== -->
<section class="feature_primary_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature_primary wow fadeInUp" data-wow-delay=".1s">
                    <div class="item_icon">
                        <span class="item_serial">1</span>
                        <img src="/images/feature/icon_01.png" alt="icon_not_found">
                    </div>
                    <h3 class="item_title text-uppercase">awesomae aroma</h3>
                    <p class="mb-0">
                        The coffee is brewed by first roasting the green coffee beans
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature_primary wow fadeInUp" data-wow-delay=".2s">
                    <div class="item_icon">
                        <span class="item_serial">2</span>
                        <img src="/images/feature/icon_02.png" alt="icon_not_found">
                    </div>
                    <h3 class="item_title text-uppercase">high quality</h3>
                    <p class="mb-0">
                        The coffee is brewed by first roasting the green coffee beans
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature_primary wow fadeInUp" data-wow-delay=".3s">
                    <div class="item_icon">
                        <span class="item_serial">3</span>
                        <img src="/images/feature/icon_03.png" alt="icon_not_found">
                    </div>
                    <h3 class="item_title text-uppercase">pure grades</h3>
                    <p class="mb-0">
                        The coffee is brewed by first roasting the green coffee beans
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="feature_primary wow fadeInUp" data-wow-delay=".4s">
                    <div class="item_icon">
                        <span class="item_serial">4</span>
                        <img src="/images/feature/icon_04.png" alt="icon_not_found">
                    </div>
                    <h3 class="item_title text-uppercase">proper roasting</h3>
                    <p class="mb-0">
                        The coffee is brewed by first roasting the green coffee beans
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature_primary_section - end
================================================== -->
