<ul class="filters-button-group ul_li_center wow fadeInUp" data-wow-delay=".3s">
    <li><button class="button text-uppercase active" data-filter="*">all</button></li>
    <li><button class="button text-uppercase" data-filter=".chocolate">chocolate</button></li>
    <li><button class="button text-uppercase" data-filter=".coffee">coffee</button></li>
    <li><button class="button text-uppercase" data-filter=".sandwiches">sandwiches</button></li>
    <li><button class="button text-uppercase" data-filter=".sweets">sweets</button></li>
    <li><button class="button text-uppercase" data-filter=".blacktea">black tea</button></li>
    <li><button class="button text-uppercase" data-filter=".greantea">grean tea</button></li>
</ul>
