<section class="testimonial_section sec_ptb_120 deco_wrap" style="background-image: url(/images/backgrounds/bg_02.png);">
    <div class="container">
        <div class="testimonial_slider wow fadeInUp" data-wow-delay=".2s">
            <div class="testimonial_item_1 slider_item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="item_image">
                            <img src="/images/testimonial/img_01.png" alt="image_not_found">
                            <div class="quote_icon">
                                <img src="/images/testimonial/icon_01.png" alt="image_not_found">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item_content">
                            <div class="section_title text-uppercase">
                                <h3 class="small_title"><i class="fas fa-coffee"></i> Client Testimonial</h3>
                                <h4 class="big_title">
                                    Our client say something about cafenod
                                </h4>
                            </div>
                            <p>
                                Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatuey.
                            </p>
                            <div class="testimonial_admin text-uppercase">
                                <h5 class="admin_name">rasalina De Willamson</h5>
                                <ul class="rating_star ul_li">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="far fa-star"></i></li>
                                </ul>
                                <span class="admin_title">Founder & CO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial_item_1 slider_item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="item_image">
                            <img src="/images/testimonial/img_01.png" alt="image_not_found">
                            <div class="quote_icon">
                                <img src="/images/testimonial/icon_01.png" alt="image_not_found">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item_content">
                            <div class="section_title text-uppercase">
                                <h3 class="small_title"><i class="fas fa-coffee"></i> Client Testimonial</h3>
                                <h4 class="big_title">
                                    Our client say something about cafenod
                                </h4>
                            </div>
                            <p>
                                Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatuey.
                            </p>
                            <div class="testimonial_admin text-uppercase">
                                <h5 class="admin_name">rasalina De Willamson</h5>
                                <ul class="rating_star ul_li">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="far fa-star"></i></li>
                                </ul>
                                <span class="admin_title">Founder & CO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial_item_1 slider_item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="item_image">
                            <img src="/images/testimonial/img_01.png" alt="image_not_found">
                            <div class="quote_icon">
                                <img src="/images/testimonial/icon_01.png" alt="image_not_found">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item_content">
                            <div class="section_title text-uppercase">
                                <h3 class="small_title"><i class="fas fa-coffee"></i> Client Testimonial</h3>
                                <h4 class="big_title">
                                    Our client say something about cafenod
                                </h4>
                            </div>
                            <p>
                                Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatuey.
                            </p>
                            <div class="testimonial_admin text-uppercase">
                                <h5 class="admin_name">rasalina De Willamson</h5>
                                <ul class="rating_star ul_li">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="far fa-star"></i></li>
                                </ul>
                                <span class="admin_title">Founder & CO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial_item_1 slider_item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="item_image">
                            <img src="/images/testimonial/img_01.png" alt="image_not_found">
                            <div class="quote_icon">
                                <img src="/images/testimonial/icon_01.png" alt="image_not_found">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item_content">
                            <div class="section_title text-uppercase">
                                <h3 class="small_title"><i class="fas fa-coffee"></i> Client Testimonial</h3>
                                <h4 class="big_title">
                                    Our client say something about cafenod
                                </h4>
                            </div>
                            <p>
                                Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatuey.
                            </p>
                            <div class="testimonial_admin text-uppercase">
                                <h5 class="admin_name">rasalina De Willamson</h5>
                                <ul class="rating_star ul_li">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="far fa-star"></i></li>
                                </ul>
                                <span class="admin_title">Founder & CO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="deco_item thumbnail_1 wow fadeInUp" data-wow-delay=".1s">
        <img src="/images/testimonial/thumbnail_01.png" alt="image_not_found">
    </div>
    <div class="deco_item thumbnail_2 wow fadeInUp" data-wow-delay=".2s">
        <img src="/images/testimonial/thumbnail_02.png" alt="image_not_found">
    </div>
    <div class="deco_item thumbnail_3 wow fadeInUp" data-wow-delay=".3s">
        <img src="/images/testimonial/thumbnail_03.png" alt="image_not_found">
    </div>
    <div class="deco_item thumbnail_4 wow fadeInUp" data-wow-delay=".4s">
        <img src="/images/testimonial/thumbnail_04.png" alt="image_not_found">
    </div>
</section>