@{
    ViewData["Title"] = "Home Page";
}

<!-- main body - start
       ================================================== -->
<main>
    <!-- slider_section - start
    ================================================== -->
    <section class="slider_section slider_dark" style="background-image: url(/images/backgrounds/bg_01.png);">
        <div class="main_slider pb-0 wow fadeInUp" data-wow-delay=".1s">
            <div class="slider_item text-white" style="background-image: url(/images/slider/img_01.png);">
                <div class="container">
                    <div class="row justify-content-lg-start justify-content-md-center">
                        <div class="col-lg-6 col-md-8">
                            <h3 class="title_text text-white text-uppercase" data-animation="fadeInUp" data-delay=".2s">
                                Time to discover coffee house
                            </h3>
                            <p data-animation="fadeInUp" data-delay=".4s">
                                The coffee is brewed by first roasting the green coffee beans over hot coals in a brazier. given an opportunity to sample.
                            </p>
                            <ul class="btns_group ul_li" data-animation="fadeInUp" data-delay=".6s">
                                <li><a class="btn btn_primary text-uppercase" href="menu.html">testy Coffee</a></li>
                                <li><a class="btn btn_border border_white text-uppercase" href="shop_details.html">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shape_image">
                    <img src="/images/slider/shape_01.png" alt="image_not_found">
                </div>
            </div>

            <div class="slider_item text-white" style="background-image: url(/images/slider/img_01.png);">
                <div class="container">
                    <div class="row justify-content-lg-start justify-content-md-center">
                        <div class="col-lg-6 col-md-8">
                            <h3 class="title_text text-white text-uppercase" data-animation="fadeInUp" data-delay=".2s">
                                Time to discover coffee house
                            </h3>
                            <p data-animation="fadeInUp" data-delay=".4s">
                                The coffee is brewed by first roasting the green coffee beans over hot coals in a brazier. given an opportunity to sample.
                            </p>
                            <ul class="btns_group ul_li" data-animation="fadeInUp" data-delay=".6s">
                                <li><a class="btn btn_primary text-uppercase" href="menu.html">testy Coffee</a></li>
                                <li><a class="btn btn_border border_white text-uppercase" href="shop_details.html">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shape_image">
                    <img src="/images/slider/shape_01.png" alt="image_not_found">
                </div>
            </div>

            <div class="slider_item text-white" style="background-image: url(/images/slider/img_01.png);">
                <div class="container">
                    <div class="row justify-content-lg-start justify-content-md-center">
                        <div class="col-lg-6 col-md-8">
                            <h3 class="title_text text-white text-uppercase" data-animation="fadeInUp" data-delay=".2s">
                                Time to discover coffee house
                            </h3>
                            <p data-animation="fadeInUp" data-delay=".4s">
                                The coffee is brewed by first roasting the green coffee beans over hot coals in a brazier. given an opportunity to sample.
                            </p>
                            <ul class="btns_group ul_li" data-animation="fadeInUp" data-delay=".6s">
                                <li><a class="btn btn_primary text-uppercase" href="menu.html">testy Coffee</a></li>
                                <li><a class="btn btn_border border_white text-uppercase" href="shop_details.html">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shape_image">
                    <img src="/images/slider/shape_01.png" alt="image_not_found">
                </div>
            </div>

            <div class="slider_item text-white" style="background-image: url(/images/slider/img_01.png);">
                <div class="container">
                    <div class="row justify-content-lg-start justify-content-md-center">
                        <div class="col-lg-6 col-md-8">
                            <h3 class="title_text text-white text-uppercase" data-animation="fadeInUp" data-delay=".2s">
                                Time to discover coffee house
                            </h3>
                            <p data-animation="fadeInUp" data-delay=".4s">
                                The coffee is brewed by first roasting the green coffee beans over hot coals in a brazier. given an opportunity to sample.
                            </p>
                            <ul class="btns_group ul_li" data-animation="fadeInUp" data-delay=".6s">
                                <li><a class="btn btn_primary text-uppercase" href="menu.html">testy Coffee</a></li>
                                <li><a class="btn btn_border border_white text-uppercase" href="shop_details.html">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shape_image">
                    <img src="/images/slider/shape_01.png" alt="image_not_found">
                </div>
            </div>
        </div>
        <div class="carousel_nav">
            <button class="main_left_arrow" type="button"><i class="fal fa-arrow-up"></i></button>
            <button class="main_right_arrow" type="button"><i class="fal fa-arrow-down"></i></button>
        </div>
        <div class="slider_social_wrap">
            <div class="container maxw_1560">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 col-md-4 order-last">
                        <a class="popup_video video_btn1 text-uppercase wow fadeInRight" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                            <span class="pulse"><i class="fas fa-play"></i></span>
                            <small>Play video</small>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <ul class="social_links social_text ul_li text-uppercase wow fadeInLeft">
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> facebook</a></li>
                            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i> twitter</a></li>
                            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider_section - end
    ================================================== -->
    <!-- feature_primary_section - start
    ================================================== -->
    <partial name="_Feature" />
    <!-- feature_primary_section - end
    ================================================== -->
    <!-- about_section - start
    ================================================== -->
    <section class="about_section sec_ptb_120">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 col-md-6 order-last">
                    <div class="about_image1 wow fadeInRight" data-wow-delay=".1s">
                        <img src="/images/about/img_01.png" alt="image_not_found">
                        <div class="year_content_wrap text-uppercase" style="background-image: url(/images/about/bg_01.png);">
                            <div class="content_wrap">
                                <span>27 <small>+ years of</small></span>
                                <strong>experience</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about_content">
                        <div class="section_title text-uppercase">
                            <h2 class="small_title"><i class="fas fa-coffee"></i> about us</h2>
                            <h3 class="big_title wow fadeInUp" data-wow-delay=".1s">
                                There is all about cafenod coffee house
                            </h3>
                        </div>
                        <p class="wow fadeInUp" data-wow-delay=".2s">
                            From a cultural standpoint, coffeehouses largely serve as centers of social interaction: the coffeehouse provides patrons with a place to congregate, talk, read, write, entertain one another, or pass the time,
                            whether individually or in small groups.
                        </p>
                        <ul class="about_info ul_li_block">
                            <li class="wow fadeInUp" data-wow-delay=".3s">
                                <h4 class="text-uppercase"><i class="far fa-square-full"></i> There is all about our cafenod coffee shops</h4>
                                <p class="mb-0">
                                    The coffee is brewed by first roasting the green coffee beans over hot coals in a brazier. Once the beans are roasted each participant is given an opportunity to sample
                                </p>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay=".4s">
                                <h4 class="text-uppercase"><i class="far fa-square-full"></i> This is followed by the grinding</h4>
                                <p class="mb-0">
                                    The coffee is brewed by first roasting the green coffee beans over hot coals in a brazier. Once the beans are roasted each participant is given an opportunity to sample the aromatic smoke by wafting it towards them.
                                </p>
                            </li>
                        </ul>
                        <ul class="btns_group ul_li wow fadeInUp" data-wow-delay=".5s">
                            <li>
                                <a class="btn btn_primary text-uppercase" href="about.html">Learn more</a>
                            </li>
                            <li>
                                <div class="chip_item">
                                    <div class="chip_thumbnail">
                                        <img src="/images/meta/img_01.png" alt="image_not_found">
                                    </div>
                                    <div class="chip_content text-uppercase">
                                        <h5 class="chip_name">rasalina De Willamson</h5>
                                        <span class="chip_title">Founder & CO</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about_section - end
    ================================================== -->
   
    <section class="recipe_menu_section sec_ptb_120 bg_gray deco_wrap">
        <div class="container">
            <div class="section_title text-uppercase text-center">
                <h2 class="small_title wow fadeInUp" data-wow-delay=".1s"><i class="fas fa-coffee"></i> Our special Menu</h2>
                <h3 class="big_title wow fadeInUp" data-wow-delay=".2s">
                    cafenod coffee house
                </h3>
            </div>

            <vc:menu></vc:menu> 
            <vc:recipe></vc:recipe>
        </div>

        <div class="deco_item shape_1">
            <img src="assets/images/menu/shape_01.png" alt="image_not_found">
        </div>
        <div class="deco_item shape_2">
            <img src="assets/images/menu/shape_02.png" alt="image_not_found">
        </div>
    </section>
    <!-- recipe_menu_section - end
    ================================================== -->
    <section class="offer_section">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-4">
                    <div class="offer_video wow fadeIn" data-wow-delay=".1s">
                        <div class="overlay"></div>
                        <img src="/images/offer/img_01.jpg" alt="image_not_found">
                        <a class="popup_video video_btn2" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                            <span class="pulse"><i class="fas fa-play"></i></span>
                            <small class="text-uppercase">Play Video</small>
                        </a>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="offer_area">
                        <div class="offer_image">
                            <img src="/images/offer/img_02.png" alt="image_not_found">
                        </div>
                        <div class="offer_content">
                            <div class="section_title text-uppercase">
                                <h2 class="small_title wow fadeInUp" data-wow-delay=".1s"><i class="fas fa-coffee"></i> what we offer</h2>
                                <h3 class="big_title wow fadeInUp" data-wow-delay=".2s">
                                    divine aroma in every single cup
                                </h3>
                            </div>

                            <p class="wow fadeInUp" data-wow-delay=".3s">
                                From a cultural standpoint, coffeehouses largely serve as centers of social interaction: the coffeehouse provides patrons with a place to congregate, talk, read, write, entertain one another, or pass the time, whether individually or in small groups.
                            </p>
                            <p class="mb-0 wow fadeInUp" data-wow-delay=".4s">
                                From a cultural standpoint, coffeehouses largely serve as centers of social interaction: the coffeehouse provides patrons with a place to congregate,
                            </p>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="offerinfo_col col-lg-4">
                            <div class="offer_info_item table_reservation_contact wow fadeInUp" data-wow-delay=".1s">
                                <h3 class="offer_info_title text-uppercase">table Reservation. . . .<i class="fal fa-heart"></i></h3>
                                <ul class="ul_li_block">
                                    <li>
                                        <div class="item_icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="item_content">
                                            <span>(008) 01869018907</span>
                                            <span>+897 989 543 2344</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item_icon"><i class="fas fa-envelope"></i></div>
                                        <div class="item_content">
                                            <span>info.webmail.com</span>
                                            <span>israfilsupol@mail.com</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item_icon"><i class="fas fa-fax"></i></div>
                                        <div class="item_content">
                                            <span>08744,Sadar pur 8973</span>
                                            <span>08744,Sadar pur 8973</span>
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn btn_secondary text-uppercase" href="contact.html">Contact Us</a>
                            </div>
                        </div>

                        <div class="offerinfo_col col-lg-4">
                            <div class="offer_info_item opening_time text-uppercase text-white wow fadeInUp" data-wow-delay=".2s" style="background-image: url(/images/offer/bg_01.png);">
                                <h3 class="offer_info_title text-white">Opening hours. . . . <i class="fal fa-clock"></i></h3>
                                <ul class="ul_li_block">
                                    <li>
                                        Monday
                                        <span>9:00 - 18:00</span>
                                    </li>
                                    <li>
                                        tuesday
                                        <span>10:00 - 18:00</span>
                                    </li>
                                    <li>
                                        wednestday
                                        <span>11:00 - 18:00</span>
                                    </li>
                                    <li>
                                        Thusday
                                        <span>12:00 - 18:00</span>
                                    </li>
                                    <li>
                                        Friday
                                        <span>14:00 - 18:00</span>
                                    </li>
                                    <li>
                                        saterday
                                        <span>16:00 - 18:00</span>
                                    </li>
                                    <li>
                                        Sunday
                                        <span>closed</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="offerinfo_col col-lg-4">
                            <div class="offer_info_item friday_offer text-center wow fadeInUp" data-wow-delay=".3s">
                                <h3 class="offer_info_title text-uppercase">Friday Offer. . . . <i class="fal fa-gift"></i></h3>
                                <img src="/images/offer/img_03.png" alt="image_not_found">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- offer_section - end
    ================================================== -->
    <!-- testimonial_section - start
    ================================================== -->
    <partial name="_Testimonial" />
    <!-- testimonial_section - end
    ================================================== -->
    <!-- shop_section - start
    ================================================== -->
    <section class="shop_section sec_ptb_120 bg_gray">
        <div class="container">
            <div class="section_title text-uppercase">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <h2 class="small_title wow fadeInUp" data-wow-delay=".1s"><i class="fas fa-coffee"></i> special online shop</h2>
                        <h3 class="big_title wow fadeInUp" data-wow-delay=".2s">
                            Our popular product
                        </h3>
                    </div>

                    <div class="col-lg-6 col-md-4">
                        <div class="abtn_wrap text-lg-end text-md-end wow fadeInUp" data-wow-delay=".3s">
                            <a class="btn btn_border border_black" href="shop.html">See all product</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".1s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="/images/shop/img_01.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">Testy coffee stimy</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".2s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="/images/shop/img_02.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">americano pure grades</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".3s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="/images/shop/img_03.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">indian Roasting pack</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".1s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="/images/shop/img_04.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">bangladeshi organic grades</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".2s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="/images/shop/img_05.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">arvica coffee pack</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".3s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="/images/shop/img_06.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">americano pure grades</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop_section - end
    ================================================== -->
    <!-- blog_section - start
    ================================================== -->
    <section class="blog_section sec_ptb_120" style="background-image: url(/images/backgrounds/bg_03.png);">
        <div class="container">

            <div class="section_title text-uppercase text-center">
                <h2 class="small_title wow fadeInUp" data-wow-delay=".1s"><i class="fas fa-coffee"></i> News & Blog</h2>
                <h3 class="big_title wow fadeInUp" data-wow-delay=".2s">Latest news & Blog</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog_grid wow fadeInUp" data-wow-delay=".1s">
                        <a class="item_image" href="blog_details.html">
                            <img src="/images/blog/img_01.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="blog_details.html">Americano Spacial Coffee</a>
                            </h3>
                            <p>
                                The coffee is brewed by  first roasting the green coffee beans over hot coals in a brazier.Once the beans are roasted each participant is given...
                            </p>
                            <a class="btn_text text-uppercase" href="blog_details.html"><span>Read More</span> <i class="far fa-angle-double-right"></i></a>
                            <ul class="post_meta ul_li">
                                <li><a href="#!"><i class="fal fa-user"></i> Rasalina De</a></li>
                                <li><a href="#!"><i class="fal fa-heart"></i> 36 like</a></li>
                                <li><a href="#!"><i class="fal fa-comment-alt"></i> 8 comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog_grid wow fadeInUp" data-wow-delay=".2s">
                        <a class="item_image" href="blog_details.html">
                            <img src="/images/blog/img_02.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="blog_details.html">Americano Spacial Coffee</a>
                            </h3>
                            <p>
                                The coffee is brewed by  first roasting the green coffee beans over hot coals in a brazier.Once the beans are roasted each participant is given...
                            </p>
                            <a class="btn_text text-uppercase" href="blog_details.html"><span>Read More</span> <i class="far fa-angle-double-right"></i></a>
                            <ul class="post_meta ul_li">
                                <li><a href="#!"><i class="fal fa-user"></i> Rasalina De</a></li>
                                <li><a href="#!"><i class="fal fa-heart"></i> 36 like</a></li>
                                <li><a href="#!"><i class="fal fa-comment-alt"></i> 8 comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog_grid wow fadeInUp" data-wow-delay=".3s">
                        <a class="item_image" href="blog_details.html">
                            <img src="/images/blog/img_03.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="blog_details.html">Americano Spacial Coffee</a>
                            </h3>
                            <p>
                                The coffee is brewed by  first roasting the green coffee beans over hot coals in a brazier.Once the beans are roasted each participant is given...
                            </p>
                            <a class="btn_text text-uppercase" href="blog_details.html"><span>Read More</span> <i class="far fa-angle-double-right"></i></a>
                            <ul class="post_meta ul_li">
                                <li><a href="#!"><i class="fal fa-user"></i> Rasalina De</a></li>
                                <li><a href="#!"><i class="fal fa-heart"></i> 36 like</a></li>
                                <li><a href="#!"><i class="fal fa-comment-alt"></i> 8 comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="load_more text-center wow fadeInUp" data-wow-delay=".1s">
                <a class="btn btn_border border_black text-uppercase" href="blog.html">See all Blog</a>
            </div>

        </div>
    </section>
    <!-- blog_section - end
    ================================================== -->

</main>
<!-- main body - end -->
