@model IEnumerable<MenuViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="recipe_item_grid grid wow fadeInUp" data-wow-delay=".4s">
    @foreach (var item in Model)
    {
        <div class="element-item @item.CategoryId " data-category="chocolate">
            <div class="recipe_item" >
                <div class="content_col">

                    <img src="/uploads/@item.Image" width="100" alt="image_not_found">

                    <div class="item_content">
                        <h3 class="item_title text-uppercase">
                            <a href="shop_details.html">@item.Title</a>
                        </h3>
                        <p class="mb-0">
                            @item.Text
                        </p>
                    </div>
                </div>
                <div class="content_col">
                    <strong class="item_price">
                        <sub>$</sub>@item.Price
                    </strong>
                </div>
            </div>
        </div>
    }



</div>