
@{
    ViewData["Title"] = "Index";
}

<partial name="_Breadcrumb" />
<!-- blog_section - start
        ================================================== -->
<section class="blog_section sec_ptb_120 bg_default_gray">
    <div class="container">
        <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

            <div class="col-lg-8 col-md-8">
                <div class="blog_standard wow fadeInUp" data-wow-delay=".1s">
                    <a class="item_image" href="blog_details.html">
                        <img src="assets/images/blog/img_04.jpg" alt="image_not_found">
                    </a>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li><a href="#!"><i class="fal fa-user"></i> Rasalina De Wiilamson</a></li>
                            <li><a href="#!"><i class="fal fa-comment-alt"></i> 9 Comments</a></li>
                            <li><i class="fal fa-calendar-alt"></i> 27 January 2021</li>
                        </ul>
                        <h3 class="item_title text-uppercase">
                            <a href="blog_details.html">Rorem ipsum dolor sit amet, conse cteture yemei.. </a>
                        </h3>
                        <p>
                            Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a liqua. Ut enim ad minim veniam, quis  nostrud exerc itaullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.ea commodo consequaty.
                        </p>
                        <a class="btn btn_primary text-uppercase" href="blog_details.html">Read More</a>
                    </div>
                </div>

                <div class="blog_standard wow fadeInUp" data-wow-delay=".1s">
                    <a class="item_image" href="blog_details.html">
                        <img src="assets/images/blog/img_05.jpg" alt="image_not_found">
                    </a>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li><a href="#!"><i class="fal fa-user"></i> Rasalina De Wiilamson</a></li>
                            <li><a href="#!"><i class="fal fa-comment-alt"></i> 9 Comments</a></li>
                            <li><i class="fal fa-calendar-alt"></i> 27 January 2021</li>
                        </ul>
                        <h3 class="item_title text-uppercase">
                            <a href="blog_details.html">Rorem ipsum dolor sit amet, conse cteture yemei.. </a>
                        </h3>
                        <p>
                            Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a liqua. Ut enim ad minim veniam, quis  nostrud exerc itaullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.ea commodo consequaty.
                        </p>
                        <a class="btn btn_primary text-uppercase" href="blog_details.html">Read More</a>
                    </div>
                </div>

                <div class="blog_standard wow fadeInUp" data-wow-delay=".1s">
                    <div class="item_image">
                        <img src="assets/images/blog/img_06.jpg" alt="image_not_found">
                        <a class="video_btn1 popup_video pulse" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                    <div class="item_content">
                        <ul class="post_meta ul_li">
                            <li><a href="#!"><i class="fal fa-user"></i> Rasalina De Wiilamson</a></li>
                            <li><a href="#!"><i class="fal fa-comment-alt"></i> 9 Comments</a></li>
                            <li><i class="fal fa-calendar-alt"></i> 27 January 2021</li>
                        </ul>
                        <h3 class="item_title text-uppercase">
                            <a href="blog_details.html">Rorem ipsum dolor sit amet, conse cteture yemei.. </a>
                        </h3>
                        <p>
                            Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a liqua. Ut enim ad minim veniam, quis  nostrud exerc itaullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.ea commodo consequaty.
                        </p>
                        <a class="btn btn_primary text-uppercase" href="blog_details.html">Read More</a>
                    </div>
                </div>

                <ul class="pagination_nav ul_li_right wow fadeInUp" data-wow-delay=".1s">
                    <li><a href="#!"><i class="fal fa-angle-double-left"></i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li><a href="#!">2</a></li>
                    <li><a href="#!">3</a></li>
                    <li><a href="#!"><i class="fal fa-angle-double-right"></i></a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-8">
                <aside class="sidebar_section">
                    <div class="sb_widget sb_search wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="sb_widget_title text-uppercase">Search here</h3>
                        <form action="#">
                            <div class="form_item mb-0">
                                <input id="sb_search_input" type="search" name="search" placeholder="Search">
                                <label class="form_icon" for="sb_search_input"><i class="far fa-search"></i></label>
                            </div>
                        </form>
                    </div>

                    <div class="sb_widget sb_category wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="sb_widget_title text-uppercase">Catagories</h3>
                        <ul class="ul_li_block">
                            <li>
                                <a href="#!">
                                    <span><i class="fal fa-angle-double-right"></i> Chocolate</span>
                                    <span>17</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span><i class="fal fa-angle-double-right"></i> Coffee Shop</span>
                                    <span>23</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span><i class="fal fa-angle-double-right"></i> Espresso</span>
                                    <span>34</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span><i class="fal fa-angle-double-right"></i> Green Coffee</span>
                                    <span>06</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span><i class="fal fa-angle-double-right"></i> Roasted Coffee</span>
                                    <span>17</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span><i class="fal fa-angle-double-right"></i> Black Tea</span>
                                    <span>17</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <span><i class="fal fa-angle-double-right"></i> Robusta</span>
                                    <span>87</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="sb_widget sb_popular_post wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="sb_widget_title text-uppercase">Popular post</h3>

                        <div class="recent_post">
                            <a class="item_image" href="blog_details.html">
                                <img src="assets/images/recent_post/img_03.jpg" alt="image_not_found">
                            </a>
                            <div class="item_content">
                                <h4 class="item_title">
                                    <a href="blog_details.html">Rorem ipsum dolor sit amet, sectetur adipisi cingey.</a>
                                </h4>
                                <span class="post_date text-uppercase">December 30 - 2021</span>
                            </div>
                        </div>

                        <div class="recent_post">
                            <a class="item_image" href="blog_details.html">
                                <img src="assets/images/recent_post/img_04.jpg" alt="image_not_found">
                            </a>
                            <div class="item_content">
                                <h4 class="item_title">
                                    <a href="blog_details.html">Rorem ipsum dolor sit amet, sectetur adipisi cingey.</a>
                                </h4>
                                <span class="post_date text-uppercase">December 30 - 2021</span>
                            </div>
                        </div>

                        <div class="recent_post">
                            <a class="item_image" href="blog_details.html">
                                <img src="assets/images/recent_post/img_05.jpg" alt="image_not_found">
                            </a>
                            <div class="item_content">
                                <h4 class="item_title">
                                    <a href="blog_details.html">Rorem ipsum dolor sit amet, sectetur adipisi cingey.</a>
                                </h4>
                                <span class="post_date text-uppercase">December 30 - 2021</span>
                            </div>
                        </div>

                        <div class="recent_post">
                            <a class="item_image" href="blog_details.html">
                                <img src="assets/images/recent_post/img_06.jpg" alt="image_not_found">
                            </a>
                            <div class="item_content">
                                <h4 class="item_title">
                                    <a href="blog_details.html">Rorem ipsum dolor sit amet, sectetur adipisi cingey.</a>
                                </h4>
                                <span class="post_date text-uppercase">December 30 - 2021</span>
                            </div>
                        </div>

                        <div class="recent_post">
                            <a class="item_image" href="blog_details.html">
                                <img src="assets/images/recent_post/img_07.jpg" alt="image_not_found">
                            </a>
                            <div class="item_content">
                                <h4 class="item_title">
                                    <a href="blog_details.html">Rorem ipsum dolor sit amet, sectetur adipisi cingey.</a>
                                </h4>
                                <span class="post_date text-uppercase">December 30 - 2021</span>
                            </div>
                        </div>
                    </div>

                    <div class="sb_widget sb_photo_showcase wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="sb_widget_title text-uppercase">Photo Showcase</h3>
                        <ul class="ul_li zoom-gallery">
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_01.jpg">
                                    <img src="assets/images/photo_showcase/img_01.jpg" alt="image_not_found">
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_02.jpg">
                                    <img src="assets/images/photo_showcase/img_02.jpg" alt="image_not_found">
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_03.jpg">
                                    <img src="assets/images/photo_showcase/img_03.jpg" alt="image_not_found">
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_04.jpg">
                                    <img src="assets/images/photo_showcase/img_04.jpg" alt="image_not_found">
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_05.jpg">
                                    <img src="assets/images/photo_showcase/img_05.jpg" alt="image_not_found">
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_06.jpg">
                                    <img src="assets/images/photo_showcase/img_06.jpg" alt="image_not_found">
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_07.jpg">
                                    <img src="assets/images/photo_showcase/img_07.jpg" alt="image_not_found">
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_08.jpg">
                                    <img src="assets/images/photo_showcase/img_08.jpg" alt="image_not_found">
                                </a>
                            </li>
                            <li>
                                <a class="popup_image" href="assets/images/photo_showcase/img_09.jpg">
                                    <img src="assets/images/photo_showcase/img_09.jpg" alt="image_not_found">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="sb_widget sb_tags wow fadeInUp" data-wow-delay=".1s">
                        <h3 class="sb_widget_title text-uppercase">Popular tag</h3>
                        <ul class="tag_list ul_li">
                            <li><a href="#!">Coffee</a></li>
                            <li><a href="#!">Green Tea</a></li>
                            <li><a href="#!">Aid</a></li>
                            <li><a href="#!">Ui/Ux</a></li>
                            <li><a href="#!">NNC</a></li>
                            <li><a href="#!">Black Tea</a></li>
                            <li><a href="#!">Foundation</a></li>
                        </ul>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>
<!-- blog_section - end
================================================== -->
