
@{
    ViewData["Title"] = "Index";
}

<partial name="_Breadcrumb" />
<section class="shop_section sec_ptb_120 bg_default_gray">
    <div class="container">
        <vc:menu></vc:menu>

        <div class="shop_filter_bar">
            <div class="row">
                <div class="col-lg-6">
                    <form action="#">
                        <div class="pricing_range wow fadeInUp" data-wow-delay=".2s">
                            <h4 class="item_title text-uppercase">Price range</h4>
                            <div class="price-range-area">
                                <div id="slider-range" class="slider-range"></div>
                                <div class="price-text d-flex align-items-center">
                                    <span>Price:</span>
                                    <input type="text" id="amount" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="shop_filter_tags wow fadeInUp" data-wow-delay=".1s">
                        <h4 class="item_title text-uppercase">Popular tag</h4>
                        <ul class="ul_li">
                            <li><a href="#!">New</a></li>
                            <li><a href="#!">Top</a></li>
                            <li><a href="#!">Sale</a></li>
                            <li><a href="#!">Coffee</a></li>
                            <li><a href="#!">Beans</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="shop_filter_grid grid wow fadeInUp" data-wow-delay=".3s">
            <div class="element-item chocolate greantea " data-category="chocolate">
                <div class="shop_card">
                    <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                    <div class="share_btns">
                        <button type="button" class="share_btn">
                            <i class="fal fa-share-alt"></i>
                        </button>
                        <ul class="ul_li">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <a class="item_image" href="shop_details.html">
                        <img src="assets/images/shop/img_01.png" alt="image_not_found">
                    </a>
                    <div class="item_content">
                        <h3 class="item_title text-uppercase">
                            <a href="shop_details.html">Testy coffee stimy</a>
                        </h3>
                        <div class="btns_group">
                            <span class="item_price bg_default_brown">$101</span>
                            <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="element-item coffee blacktea " data-category="coffee">
                <div class="shop_card">
                    <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                    <div class="share_btns">
                        <button type="button" class="share_btn">
                            <i class="fal fa-share-alt"></i>
                        </button>
                        <ul class="ul_li">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <a class="item_image" href="shop_details.html">
                        <img src="assets/images/shop/img_02.png" alt="image_not_found">
                    </a>
                    <div class="item_content">
                        <h3 class="item_title text-uppercase">
                            <a href="shop_details.html">americano pure grades</a>
                        </h3>
                        <div class="btns_group">
                            <span class="item_price bg_default_brown">$101</span>
                            <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="element-item sandwiches sweets " data-category="sandwiches">
                <div class="shop_card">
                    <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                    <div class="share_btns">
                        <button type="button" class="share_btn">
                            <i class="fal fa-share-alt"></i>
                        </button>
                        <ul class="ul_li">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <a class="item_image" href="shop_details.html">
                        <img src="assets/images/shop/img_03.png" alt="image_not_found">
                    </a>
                    <div class="item_content">
                        <h3 class="item_title text-uppercase">
                            <a href="shop_details.html">indian Roasting pack</a>
                        </h3>
                        <div class="btns_group">
                            <span class="item_price bg_default_brown">$101</span>
                            <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="element-item w-100">
                <div class="shop_offer_banner text-white" style="background-image: url(assets/images/backgrounds/bg_10.jpg);">
                    <div class="item_content">
                        <h4 class="item_title text-white text-uppercase">Coffee Bean & Super Cup</h4>
                        <div class="discount_percentage">20%</div>
                        <p>
                            Offer Foy Only Sunday
                        </p>
                    </div>
                </div>
            </div>

            <div class="element-item sweets sandwiches " data-category="sweets">
                <div class="shop_card">
                    <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                    <div class="share_btns">
                        <button type="button" class="share_btn">
                            <i class="fal fa-share-alt"></i>
                        </button>
                        <ul class="ul_li">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <a class="item_image" href="shop_details.html">
                        <img src="assets/images/shop/img_04.png" alt="image_not_found">
                    </a>
                    <div class="item_content">
                        <h3 class="item_title text-uppercase">
                            <a href="shop_details.html">bangladeshi organic grades</a>
                        </h3>
                        <div class="btns_group">
                            <span class="item_price bg_default_brown">$101</span>
                            <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="element-item blacktea coffee " data-category="blacktea">
                <div class="shop_card">
                    <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                    <div class="share_btns">
                        <button type="button" class="share_btn">
                            <i class="fal fa-share-alt"></i>
                        </button>
                        <ul class="ul_li">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <a class="item_image" href="shop_details.html">
                        <img src="assets/images/shop/img_05.png" alt="image_not_found">
                    </a>
                    <div class="item_content">
                        <h3 class="item_title text-uppercase">
                            <a href="shop_details.html">arvica coffee pack</a>
                        </h3>
                        <div class="btns_group">
                            <span class="item_price bg_default_brown">$101</span>
                            <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="element-item greantea chocolate " data-category="greantea">
                <div class="shop_card">
                    <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                    <div class="share_btns">
                        <button type="button" class="share_btn">
                            <i class="fal fa-share-alt"></i>
                        </button>
                        <ul class="ul_li">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <a class="item_image" href="shop_details.html">
                        <img src="assets/images/shop/img_06.png" alt="image_not_found">
                    </a>
                    <div class="item_content">
                        <h3 class="item_title text-uppercase">
                            <a href="shop_details.html">americano pure grades</a>
                        </h3>
                        <div class="btns_group">
                            <span class="item_price bg_default_brown">$101</span>
                            <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination_nav ul_li_center">
            <li><a href="#!"><i class="fal fa-angle-double-left"></i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li><a href="#!">2</a></li>
            <li><a href="#!">3</a></li>
            <li><a href="#!"><i class="fal fa-angle-double-right"></i></a></li>
        </ul>
    </div>
</section>

