
@{
    ViewData["Title"] = "ShopDetails";
}

<partial name="_Breadcrumb" />
<!-- details_section - start
 ================================================== -->
<section class="details_section shop_details sec_ptb_120 bg_default_gray">
    <div class="container">

        <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
            <div class="col-lg-6 col-md-7">
                <div class="details_image_wrap wow fadeInUp" data-wow-delay=".1s">
                    <div class="details_image_carousel">
                        <div class="slider_item">
                            <img src="assets/images/shop/img_01.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_02.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_03.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_04.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_05.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_06.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_02.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_04.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_06.png" alt="image_not_found">
                        </div>
                    </div>

                    <div class="details_image_carousel_nav">
                        <div class="slider_item">
                            <img src="assets/images/shop/img_01.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_02.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_03.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_04.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_05.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_06.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_02.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_04.png" alt="image_not_found">
                        </div>
                        <div class="slider_item">
                            <img src="assets/images/shop/img_06.png" alt="image_not_found">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-7">
                <div class="details_content wow fadeInUp" data-wow-delay=".2s">
                    <div class="details_flex_title">
                        <h2 class="details_title text-uppercase">Americano Coffee Beans</h2>
                        <div class="details_review">
                            <ul class="rating_star ul_li">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                            <span class="review_text">04 - Customar Review</span>
                        </div>
                    </div>
                    <p>
                        The coffee is brewed by first roasting the green coffee beans over hot coals in  brazier.Once the beans are roasted each participant is given an opportunity to sample The coffee is brewed by first roasting the green coffee beans over hot coals in a brazier.
                    </p>
                    <div class="details_price">
                        <strong class="price_text">$25.00</strong>
                        <span class="in_stuck"><i class="fal fa-check"></i> In stock</span>
                    </div>
                    <ul class="details_item_color ul_li">
                        <li class="bg_brown"><input type="radio" name="item_color"></li>
                        <li class="bg_browndark"><input type="radio" name="item_color" checked></li>
                        <li class="bg_brownlight"><input type="radio" name="item_color"></li>
                    </ul>
                    <ul class="btns_group ul_li">
                        <li>
                            <div class="quantity_input quantity_boxed">
                                <h4 class="quantity_title text-uppercase">Quantity</h4>
                                <form action="#">
                                    <button type="button" class="input_number_decrement">–</button>
                                    <input class="input_number" type="text" value="2">
                                    <button type="button" class="input_number_increment">+</button>
                                </form>
                            </div>
                        </li>
                        <li><a class="btn btn_secondary text-uppercase" href="#!">Add To Cart</a></li>
                    </ul>
                    <div class="details_wishlist_btn">
                        <a href="#!"><i class="fas fa-heart mr-1"></i> Add to watch list</a>
                    </div>
                    <div class="details_share_links">
                        <h4 class="list_title"><i class="fas fa-share mr-1"></i> Share</h4>
                        <ul class="social_links social_icons ul_li">
                            <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#!"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="product_description_wrap wow fadeInUp" data-wow-delay=".3s">
            <ul class="tabs_nav ul_li nav" role="tablist">
                <li>
                    <button class="active" data-bs-toggle="tab" data-bs-target="#product_description" type="button" role="tab" aria-selected="true">Product Details</button>
                </li>
                <li>
                    <button data-bs-toggle="tab" data-bs-target="#product_additional_info" type="button" role="tab" aria-selected="false">Additionnal Imformation</button>
                </li>
                <li>
                    <button data-bs-toggle="tab" data-bs-target="#product_review" type="button" role="tab" aria-selected="false">Review (3)</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="product_description" role="tabpanel">
                    <p class="mb-0">
                        Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proideny.mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  cupidaey.
                    </p>
                </div>
                <div class="tab-pane fade" id="product_additional_info" role="tabpanel">
                    <p class="mb-0">
                        Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proideny.mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  cupidaey.
                    </p>
                </div>
                <div class="tab-pane fade" id="product_review" role="tabpanel">
                    <p class="mb-0">
                        Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proideny.mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  cupidaey.
                    </p>
                </div>
            </div>
        </div>

        <div class="related_products">
            <h4 class="area_title text-uppercase mb-0 wow fadeInUp" data-wow-delay=".1s">Related Product</h4>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".2s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="assets/images/shop/img_01.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">Testy coffee stimy</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".3s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="assets/images/shop/img_02.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">americano pure grades</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="shop_card wow fadeInUp" data-wow-delay=".4s">
                        <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                        <div class="share_btns">
                            <button type="button" class="share_btn">
                                <i class="fal fa-share-alt"></i>
                            </button>
                            <ul class="ul_li">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <a class="item_image" href="shop_details.html">
                            <img src="assets/images/shop/img_03.png" alt="image_not_found">
                        </a>
                        <div class="item_content">
                            <h3 class="item_title text-uppercase">
                                <a href="shop_details.html">indian Roasting pack</a>
                            </h3>
                            <div class="btns_group">
                                <span class="item_price bg_default_brown">$101</span>
                                <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- details_section - end
================================================== -->
