@model IEnumerable<BasketViewModel>
@{
    ViewData["Title"] = "Index";
    decimal total = 0M;
}

<partial name="_Breadcrumb" />
<!-- cart_section - start
                ================================================== -->
<section class="cart_section sec_ptb_120 bg_default_gray">
    <div class="container">
        <div class="cart_table">
            <table class="table">
                <thead class="text-uppercase wow fadeInUp" data-wow-delay=".1s">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var subtotal = (@item.Product.Price * @item.Count);
                        
                <tr class="wow fadeInUp" data-wow-delay=".1s">
                    <td>
                        <div class="carttable_product_item">
                            <div class="item_image">
                                <img src="/uploads/@item.Product.Image" alt="image_not_found">
                            </div>
                            <button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
                            <h3 class="item_title">@item.Product.Name</h3>
                        </div>
                    </td>
                    <td><span class="price_text1">$@item.Product.Price</span></td>
                    <td>
                        <div class="quantity_input">
                            <form action="#">
                                <button type="button" class="input_number_decrement">–</button>
                                <input class="input_number" type="text" value="@item.Count">
                                <button type="button" class="input_number_increment">+</button>
                            </form>
                        </div>
                    </td>

                    <td><span class="price_text2">$@subtotal</span></td>


                </tr>
            }


                </tbody>
            </table>
        </div>
        <ul class="carttable_footer ul_li_right wow fadeInUp" data-wow-delay=".1s">
    
            <li>
                <div class="total_price text-uppercase">
                    <span>total</span>
                    <span>$@total</span>
                </div>
            </li>
            <li>
                <a class="btn btn_primary text-uppercase" href="shop_checkout.html">procced to checkout</a>
            </li>
        </ul>
    </div>
</section>
<!-- cart_section - end
================================================== -->
