@model IEnumerable<ProductViewModel>
    <!-- shop_section - start
        ================================================== -->
    <section class="shop_section sec_ptb_120 bg_gray">
        <div class="container">
            <div class="section_title text-uppercase">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <h2 class="small_title wow fadeInUp" data-wow-delay=".1s"><i class="fas fa-coffee"></i> special online shop</h2>
                        <h3 class="big_title wow fadeInUp" data-wow-delay=".2s">
                            Our popular product
                        </h3>
                    </div>

                    <div class="col-lg-6 col-md-4">
                        <div class="abtn_wrap text-lg-end text-md-end wow fadeInUp" data-wow-delay=".3s">
                            <a class="btn btn_border border_black" href="shop.html">See all product</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <partial name="Product/_SingleProduct" model="item" />
                    </div>
                }


            </div>
        </div>
    </section>
    <!-- shop_section - end
    ================================================== -->
