@model IEnumerable<ProductViewModel>
    <!-- shop_section - start
        ================================================== -->
    <section class="shop_section sec_ptb_120 bg_gray">
        <div class="container">
            <div class="section_title text-uppercase">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <h2 class="small_title wow fadeInUp" data-wow-delay=".1s"><i class="fas fa-coffee"></i> special online shop</h2>
                        <h3 class="big_title wow fadeInUp" data-wow-delay=".2s">
                            Our popular product
                        </h3>
                    </div>

                    <div class="col-lg-6 col-md-4">
                        <div class="abtn_wrap text-lg-end text-md-end wow fadeInUp" data-wow-delay=".3s">
                            <a class="btn btn_border border_black" href="shop.html">See all product</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                @foreach (var product in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="shop_card wow fadeInUp" data-wow-delay=".1s">
                            <a class="wishlist_btn" href="#!"><i class="fal fa-heart"></i></a>
                            <div class="share_btns">
                                <button type="button" class="share_btn">
                                    <i class="fal fa-share-alt"></i>
                                </button>
                                <ul class="ul_li">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <a class="item_image" href="shop_details.html">
                                <img src="/uploads/@product.Image" alt="image_not_found">
                            </a>
                            <div class="item_content">
                                <h3 class="item_title text-uppercase">
                                    <a href="shop_details.html">@product.Name</a>
                                </h3>
                                <div class="btns_group">
                                    <span class="item_price bg_default_brown">$@product.Price</span>
                                    <a class="btn btn_border border_black text-uppercase" href="#!">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>
    <!-- shop_section - end
    ================================================== -->
